<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{Site.Desc}}" />

    <link rel="shortcut icon" href="/img/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <link href="/css/peach.css?v={{AppVer}}" rel="stylesheet" />
    <link href="/css/theme.min.css?v={{AppVer}}" rel="stylesheet" />
    <link href="/css/quaver.css?v={{AppVer}}" rel="stylesheet" />


    <link rel="preconnect" href="https://fonts.gstatic.com">

    {% if Asset.CustomCSS %}
    <link href="{{Asset.CustomCSS}}" rel="stylesheet" />
    {% endif %}

    <script type="text/javascript" src="/js/vendor.js?v={{AppVer}}"></script>
    <script type="text/javascript" src="/js/theme.min.js?v={{AppVer}}"></script>
    <script type="text/javascript" src="/js/peach.js?v={{AppVer}}"></script>

    <title>{% block title %}{{Title}}{% endblock %}</title>
</head>
<body style="overflow-x: hidden;">
{% block body %}{% endblock %}
</body>
</html>