<footer class="site-footer bg-dark">
    <div class="footer-bottom mt-0">
        <div class="container d-flex flex-column flex-md-row">
            <div class="order-2 order-md-1">
                <p class="footer-copyright">
                    Copyright © 2017-2020
                    <a href="https://github.com/Swan" rel="noopener" target="_blank">Swan</a>
                    &
                    <a href="https://github.com/orgs/Quaver/people" rel="noopener" target="_blank">The Quaver Team</a>
                    .
                    All rights reserved.
                </p>
            </div>
            <div class="footer-social order-1 order-md-2 ml-md-auto text-center text-md-right">
                <a href="https://github.com/go-macaron/macaron" target="_blank">Macaron</a>
                |
                <a class="item" href="https://github.com/peachdocs/peach">Peach</a>
            </div>
        </div>
    </div>
</footer>

{{Extension.GABlock | safe}}