<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-quaver">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ya ya-bar"></i>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" height="25">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://quavergame.com/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Info
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://store.steampowered.com/news/?appids=980610">Dev Blog</a>
                        <a class="dropdown-item" href="https://twitter.com/QuaverGame">Twitter</a>
                        <a class="dropdown-item" href="https://discord.gg/quaver">Discord</a>
                        <a class="dropdown-item" href="https://github.com/Quaver">GitHub</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://wiki.quavergame.com/docs/rules/">Rules</a>
                        <a class="dropdown-item" href="https://quavergame.com/team">Team</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://quavergame.com/leaderboard" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Leaderboard
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://quavergame.com/leaderboard">Overall Rating</a>
                        <a class="dropdown-item" href="https://quavergame.com/leaderboard/hits">Total Hits</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://quavergame.com/maps" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Maps
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://quavergame.com/maps">Maps</a>
                        <a class="dropdown-item" href="https://quavergame.com/mapsets/queue">Ranking Queue</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://quavergame.com/playlists">Playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://quavergame.com/multiplayer/games">Multiplayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wiki.quavergame.com/docs">Wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://quavergame.com/donate">
                        <i class="fa fa-heart text-danger"></i>
                        Donate
                    </a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav navbar-right flex-row d-flex align-items-center">
            <li class="nav-item">
                <div class="search" id="navbar-search">
                    <form action="/search">
                        <input class="form-control custom-search" name="q" value="{{Keyword}}" placeholder='Wiki Search'>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
    <div class="nav-out">
        <div class="nav-border"></div>
    </div>
</header>
